body  
{  
    margin: 0;  
    padding: 0;  
    background-color:grey;  
    font-family: 'Broadway';  
}  
#head
{
    background-color:lightgreen;
}
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;    
        border-radius: 15px ;

          
}  
h2{  
    text-align: center;  
    color:black;  
    padding: 20px;  
}  
label{  
    color: green;  
    font-size: 17px;  
}  
#Uname{  
    width: 400px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 400px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 150px;  
    height: 40px;  
    border: none;  
    border-radius: 20px;  
    padding-left: 7px;  
    color: darkgreen;
    position: relative;  
  
  
}  
#log2{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 20px;  
    padding-left: 7px;  
    color: black;  
    float: right;
  
  
}  
span{  
    color: blue;  
    font-size: 20px;  
}  
a{  
    float: right;  
    background-color: green;  
}
