body  
{
    margin: 0;
    padding: 70px;
    background: url("../INDAINFOODS.jpg");
    background-size: cover;
    backdrop-filter: blur(2px);
    background-repeat: no-repeat;
    font-family: 'Arial';
    
}  
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        border-radius: 15px ;
        -webkit-border-radius: 15px ;
        -moz-border-radius: 15px ;
        -ms-border-radius: 15px ;
        -o-border-radius: 15px ;
}  

#Uname{  
    width: 400px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 400px;  
    height: 40px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 150px;  
    height: 40px;  
    border: none;  
    border-radius: 20px;  
    padding-left: 7px;  
    color: rgb(8, 8, 8);
    position: relative;  
  
  
}  
#log2{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 20px;  
    padding-left: 7px;  
    color: black;  
    float: right;
  
  
}  
span{  
    color: rgb(0, 0, 0);  
    font-size: 15px;  
}  

